<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  
  <meta name="theme-color" content="#e8e8e8">
  <meta name="msapplication-navbutton-color" content="#e8e8e8">
  <meta name="apple-mobile-web-app-status-bar-style" content="#e8e8e8">

  <meta name="description" content="Free chat app" />
  <meta name="keywords" content="chat, chatting, messages, messenger" />
  <meta name="author" content="jarvis" />
  <link rel="shortcut icon" href="https://cdn.glitch.com/51abc91e-1207-4d19-94aa-de472d3c1d5a%2FUntitled34?1538147248961">

  <title>chaket.io</title>
  
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link type="text/css" rel="stylesheet" href="css/style.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="css/animate.css" media="screen,projection" />

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="js/socket.js"></script>
</head>

<style>
  
  body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #e8e8e8;
    color: black !important;
  }
  
</style>
  
<script>
  
  $(window).bind('beforeunload',function(){
    $('body').addClass('fadeOut');
  });

</script>

<body class="animated" style="animation-duration: 0.2s !important;">
  
  <div class="navbar-fixed animated fadeInDown">
    <nav class="z-depth-1" style="background: rgba(220, 220, 220, 0.75);">
      <div class="nav-wrapper container">
        <a href="/enter" class="left black-text waves-effect waves-light center" style="width: 64px;"><i class="material-icons">face</i></a>
      </div>
    </nav>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col hide-on-med-and-down l2" style="word-wrap: break-word;">
        <ul id="users"></ul>
      </div>
      <div class="col s12 m12 l10">
        <ul id="messages"></ul>
      </div>
    </div>
  </div>
  
  <form class="form valign-wrapper animated fadeInUp" onsubmit="return false;">
    <div class="row" style="width: 100%;">
      <div class="col s12 formAct z-depth-1">
        <input type="text" id="m" autocomplete="off" autofocus />
        <div class="hidden typing typingFloatIco"></div>
        <label class="typing hidden active" style="margin-left: 16px;">typing...</label>
        <button type="submit" id="send"><i class="material-icons right grey-text">send</i></button>
      </div>
    </div>
  </form>
  
</body>

</html>
